# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.htaccess
.htaccess-bak
.project
CHANGELOG.txt
COPYRIGHT.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.txt
UPGRADE.txt
authorize.php
cron.php
includes/
index.php
install.php
misc/
modules/
profiles/
robots.txt
scripts/
sites/README.txt
sites/all/libraries/
sites/all/modules/README.txt
sites/all/modules/admin_menu/
sites/all/modules/backup_migrate/
sites/all/modules/checklistapi/
sites/all/modules/civicrm/CONTRIBUTORS.txt
sites/all/modules/civicrm/CRM/ACL/
sites/all/modules/civicrm/CRM/Activity/
sites/all/modules/civicrm/CRM/Admin/
sites/all/modules/civicrm/CRM/Badge/
sites/all/modules/civicrm/CRM/Batch/
sites/all/modules/civicrm/CRM/Bridge/
sites/all/modules/civicrm/CRM/Campaign/
sites/all/modules/civicrm/CRM/Case/
sites/all/modules/civicrm/CRM/Contact/BAO/Contact.php
sites/all/modules/civicrm/CRM/Contact/BAO/Contact/
sites/all/modules/civicrm/CRM/Contact/BAO/ContactType.php
sites/all/modules/civicrm/CRM/Contact/BAO/DashboardContact.php
sites/all/modules/civicrm/CRM/Contact/BAO/GroupContact.php
sites/all/modules/civicrm/CRM/Contact/BAO/GroupContactCache.php
sites/all/modules/civicrm/CRM/Contact/BAO/GroupNesting.php
sites/all/modules/civicrm/CRM/Contact/BAO/GroupNestingCache.php
sites/all/modules/civicrm/CRM/Contact/BAO/GroupOrganization.php
sites/all/modules/civicrm/CRM/Contact/BAO/Household.php
sites/all/modules/civicrm/CRM/Contact/BAO/Individual.php
sites/all/modules/civicrm/CRM/Contact/BAO/ProximityQuery.php
sites/all/modules/civicrm/CRM/Contact/BAO/Query.php
sites/all/modules/civicrm/CRM/Contact/BAO/Query/
sites/all/modules/civicrm/CRM/Contact/BAO/Relationship.php
sites/all/modules/civicrm/CRM/Contact/BAO/RelationshipType.php
sites/all/modules/civicrm/CRM/Contact/BAO/SavedSearch.php
sites/all/modules/civicrm/CRM/Contact/BAO/SearchCustom.php
sites/all/modules/civicrm/CRM/Contact/BAO/SubscriptionHistory.php
sites/all/modules/civicrm/CRM/Contact/Controller/
sites/all/modules/civicrm/CRM/Contact/DAO/
sites/all/modules/civicrm/CRM/Contact/Form/
sites/all/modules/civicrm/CRM/Contact/Import/
sites/all/modules/civicrm/CRM/Contact/Page/
sites/all/modules/civicrm/CRM/Contact/Selector.php
sites/all/modules/civicrm/CRM/Contact/Selector/
sites/all/modules/civicrm/CRM/Contact/StateMachine/
sites/all/modules/civicrm/CRM/Contact/Task.php
sites/all/modules/civicrm/CRM/Contribute/
sites/all/modules/civicrm/CRM/Core/Action.php
sites/all/modules/civicrm/CRM/Core/BAO/ActionLog.php
sites/all/modules/civicrm/CRM/Core/BAO/ActionSchedule.php
sites/all/modules/civicrm/CRM/Core/BAO/Address.php
sites/all/modules/civicrm/CRM/Core/BAO/Block.php
sites/all/modules/civicrm/CRM/Core/BAO/CMSUser.php
sites/all/modules/civicrm/CRM/Core/BAO/Cache.php
sites/all/modules/civicrm/CRM/Core/BAO/ConfigSetting.php
sites/all/modules/civicrm/CRM/Core/BAO/CustomField.php
sites/all/modules/civicrm/CRM/Core/BAO/CustomOption.php
sites/all/modules/civicrm/CRM/Core/BAO/CustomQuery.php
sites/all/modules/civicrm/CRM/Core/BAO/CustomValue.php
sites/all/modules/civicrm/CRM/Core/BAO/CustomValueTable.php
sites/all/modules/civicrm/CRM/Core/BAO/Dashboard.php
sites/all/modules/civicrm/CRM/Core/BAO/Discount.php
sites/all/modules/civicrm/CRM/Core/BAO/Domain.php
sites/all/modules/civicrm/CRM/Core/BAO/Email.php
sites/all/modules/civicrm/CRM/Core/BAO/EntityTag.php
sites/all/modules/civicrm/CRM/Core/BAO/Extension.php
sites/all/modules/civicrm/CRM/Core/BAO/File.php
sites/all/modules/civicrm/CRM/Core/BAO/FinancialTrxn.php
sites/all/modules/civicrm/CRM/Core/BAO/IM.php
sites/all/modules/civicrm/CRM/Core/BAO/Job.php
sites/all/modules/civicrm/CRM/Core/BAO/LabelFormat.php
sites/all/modules/civicrm/CRM/Core/BAO/Location.php
sites/all/modules/civicrm/CRM/Core/BAO/LocationType.php
sites/all/modules/civicrm/CRM/Core/BAO/Log.php
sites/all/modules/civicrm/CRM/Core/BAO/MailSettings.php
sites/all/modules/civicrm/CRM/Core/BAO/Mapping.php
sites/all/modules/civicrm/CRM/Core/BAO/MessageTemplate.php
sites/all/modules/civicrm/CRM/Core/BAO/Navigation.php
sites/all/modules/civicrm/CRM/Core/BAO/Note.php
sites/all/modules/civicrm/CRM/Core/BAO/OpenID.php
sites/all/modules/civicrm/CRM/Core/BAO/OptionGroup.php
sites/all/modules/civicrm/CRM/Core/BAO/OptionValue.php
sites/all/modules/civicrm/CRM/Core/BAO/PaperSize.php
sites/all/modules/civicrm/CRM/Core/BAO/PdfFormat.php
sites/all/modules/civicrm/CRM/Core/BAO/Persistent.php
sites/all/modules/civicrm/CRM/Core/BAO/Phone.php
sites/all/modules/civicrm/CRM/Core/BAO/Preferences.php
sites/all/modules/civicrm/CRM/Core/BAO/PreferencesDate.php
sites/all/modules/civicrm/CRM/Core/BAO/PrevNextCache.php
sites/all/modules/civicrm/CRM/Core/BAO/RecurringEntity.php
sites/all/modules/civicrm/CRM/Core/BAO/SchemaHandler.php
sites/all/modules/civicrm/CRM/Core/BAO/Setting.php
sites/all/modules/civicrm/CRM/Core/BAO/Tag.php
sites/all/modules/civicrm/CRM/Core/BAO/UFField.php
sites/all/modules/civicrm/CRM/Core/BAO/UFGroup.php
sites/all/modules/civicrm/CRM/Core/BAO/UFJoin.php
sites/all/modules/civicrm/CRM/Core/BAO/UFMatch.php
sites/all/modules/civicrm/CRM/Core/BAO/Website.php
sites/all/modules/civicrm/CRM/Core/BAO/WordReplacement.php
sites/all/modules/civicrm/CRM/Core/Base.php
sites/all/modules/civicrm/CRM/Core/Block.php
sites/all/modules/civicrm/CRM/Core/ClassLoader.php
sites/all/modules/civicrm/CRM/Core/CodeGen/
sites/all/modules/civicrm/CRM/Core/CommunityMessages.php
sites/all/modules/civicrm/CRM/Core/Component.php
sites/all/modules/civicrm/CRM/Core/Component/
sites/all/modules/civicrm/CRM/Core/Config.php
sites/all/modules/civicrm/CRM/Core/Config/
sites/all/modules/civicrm/CRM/Core/Controller.php
sites/all/modules/civicrm/CRM/Core/Controller/
sites/all/modules/civicrm/CRM/Core/DAO.php
sites/all/modules/civicrm/CRM/Core/DAO/
sites/all/modules/civicrm/CRM/Core/EntityReference.php
sites/all/modules/civicrm/CRM/Core/Error.php
sites/all/modules/civicrm/CRM/Core/Exception.php
sites/all/modules/civicrm/CRM/Core/FileSearchInterface.php
sites/all/modules/civicrm/CRM/Core/Form.php
sites/all/modules/civicrm/CRM/Core/Form/
sites/all/modules/civicrm/CRM/Core/HTMLInputCoder.php
sites/all/modules/civicrm/CRM/Core/I18n.php
sites/all/modules/civicrm/CRM/Core/I18n/
sites/all/modules/civicrm/CRM/Core/IDS.php
sites/all/modules/civicrm/CRM/Core/InnoDBIndexer.php
sites/all/modules/civicrm/CRM/Core/Invoke.php
sites/all/modules/civicrm/CRM/Core/JobManager.php
sites/all/modules/civicrm/CRM/Core/Joomla.php
sites/all/modules/civicrm/CRM/Core/Key.php
sites/all/modules/civicrm/CRM/Core/LegacyErrorHandler.php
sites/all/modules/civicrm/CRM/Core/Lock.php
sites/all/modules/civicrm/CRM/Core/ManagedEntities.php
sites/all/modules/civicrm/CRM/Core/Menu.php
sites/all/modules/civicrm/CRM/Core/Module.php
sites/all/modules/civicrm/CRM/Core/OptionGroup.php
sites/all/modules/civicrm/CRM/Core/OptionValue.php
sites/all/modules/civicrm/CRM/Core/Page.php
sites/all/modules/civicrm/CRM/Core/Page/
sites/all/modules/civicrm/CRM/Core/Payment.php
sites/all/modules/civicrm/CRM/Core/Payment/
sites/all/modules/civicrm/CRM/Core/Permission.php
sites/all/modules/civicrm/CRM/Core/Permission/
sites/all/modules/civicrm/CRM/Core/PseudoConstant.php
sites/all/modules/civicrm/CRM/Core/QuickForm/
sites/all/modules/civicrm/CRM/Core/Reference/
sites/all/modules/civicrm/CRM/Core/Region.php
sites/all/modules/civicrm/CRM/Core/Report/
sites/all/modules/civicrm/CRM/Core/Resources.php
sites/all/modules/civicrm/CRM/Core/Resources/
sites/all/modules/civicrm/CRM/Core/ScheduledJob.php
sites/all/modules/civicrm/CRM/Core/SelectValues.php
sites/all/modules/civicrm/CRM/Core/Selector/
sites/all/modules/civicrm/CRM/Core/Session.php
sites/all/modules/civicrm/CRM/Core/ShowHideBlocks.php
sites/all/modules/civicrm/CRM/Core/Smarty.php
sites/all/modules/civicrm/CRM/Core/Smarty/
sites/all/modules/civicrm/CRM/Core/State.php
sites/all/modules/civicrm/CRM/Core/StateMachine.php
sites/all/modules/civicrm/CRM/Core/TableHierarchy.php
sites/all/modules/civicrm/CRM/Core/TemporaryErrorScope.php
sites/all/modules/civicrm/CRM/Core/Transaction.php
sites/all/modules/civicrm/CRM/Core/xml/
sites/all/modules/civicrm/CRM/Custom/
sites/all/modules/civicrm/CRM/Cxn/
sites/all/modules/civicrm/CRM/Dashlet/
sites/all/modules/civicrm/CRM/Dedupe/BAO/QueryBuilder.php
sites/all/modules/civicrm/CRM/Dedupe/BAO/QueryBuilder/
sites/all/modules/civicrm/CRM/Dedupe/BAO/Rule.php
sites/all/modules/civicrm/CRM/Dedupe/DAO/
sites/all/modules/civicrm/CRM/Dedupe/Finder.php
sites/all/modules/civicrm/CRM/Dedupe/Merger.php
sites/all/modules/civicrm/CRM/Event/
sites/all/modules/civicrm/CRM/Export/
sites/all/modules/civicrm/CRM/Extension/
sites/all/modules/civicrm/CRM/Financial/
sites/all/modules/civicrm/CRM/Friend/
sites/all/modules/civicrm/CRM/Grant/
sites/all/modules/civicrm/CRM/Group/
sites/all/modules/civicrm/CRM/Import/
sites/all/modules/civicrm/CRM/Logging/
sites/all/modules/civicrm/CRM/Mailing/
sites/all/modules/civicrm/CRM/Member/
sites/all/modules/civicrm/CRM/Note/
sites/all/modules/civicrm/CRM/PCP/
sites/all/modules/civicrm/CRM/Pledge/
sites/all/modules/civicrm/CRM/Price/
sites/all/modules/civicrm/CRM/Profile/
sites/all/modules/civicrm/CRM/Queue/
sites/all/modules/civicrm/CRM/Report/
sites/all/modules/civicrm/CRM/SMS/
sites/all/modules/civicrm/CRM/Tag/
sites/all/modules/civicrm/CRM/UF/
sites/all/modules/civicrm/CRM/Upgrade/
sites/all/modules/civicrm/CRM/Utils/
sites/all/modules/civicrm/CRM/Widget/
sites/all/modules/civicrm/Civi/
sites/all/modules/civicrm/README.txt
sites/all/modules/civicrm/agpl-3.0.exception.txt
sites/all/modules/civicrm/agpl-3.0.txt
sites/all/modules/civicrm/ang/
sites/all/modules/civicrm/api/
sites/all/modules/civicrm/bin/
sites/all/modules/civicrm/bower.json
sites/all/modules/civicrm/bower_components/
sites/all/modules/civicrm/civicrm-version.php
sites/all/modules/civicrm/civicrm.config.php
sites/all/modules/civicrm/composer.json
sites/all/modules/civicrm/composer.lock
sites/all/modules/civicrm/css/
sites/all/modules/civicrm/drupal/
sites/all/modules/civicrm/extern/
sites/all/modules/civicrm/gpl.txt
sites/all/modules/civicrm/i/
sites/all/modules/civicrm/install/
sites/all/modules/civicrm/js/
sites/all/modules/civicrm/package.json
sites/all/modules/civicrm/packages/
sites/all/modules/civicrm/settings/
sites/all/modules/civicrm/sql/
sites/all/modules/civicrm/templates/
sites/all/modules/civicrm/vendor/
sites/all/modules/ckeditor/
sites/all/modules/ctools/
sites/all/modules/elysia_cron/
sites/all/modules/entity/
sites/all/modules/entityreference/
sites/all/modules/globalredirect/
sites/all/modules/imce/
sites/all/modules/libraries/
sites/all/modules/og/
sites/all/modules/options_element/
sites/all/modules/page_title/
sites/all/modules/pathauto/
sites/all/modules/redirect/
sites/all/modules/rules/
sites/all/modules/seo_checklist/
sites/all/modules/superfish/
sites/all/modules/token/
sites/all/modules/views/
sites/all/modules/webform/
sites/all/modules/webform_civicrm/LICENSE.txt
sites/all/modules/webform_civicrm/README.txt
sites/all/modules/webform_civicrm/css/
sites/all/modules/webform_civicrm/images/
sites/all/modules/webform_civicrm/includes/contact_component.inc
sites/all/modules/webform_civicrm/includes/utils.inc
sites/all/modules/webform_civicrm/includes/wf_crm_admin_component.inc
sites/all/modules/webform_civicrm/includes/wf_crm_admin_form.inc
sites/all/modules/webform_civicrm/includes/wf_crm_admin_help.inc
sites/all/modules/webform_civicrm/includes/wf_crm_webform_ajax.inc
sites/all/modules/webform_civicrm/includes/wf_crm_webform_base.inc
sites/all/modules/webform_civicrm/includes/wf_crm_webform_preprocess.inc
sites/all/modules/webform_civicrm/js/
sites/all/modules/webform_civicrm/webform_civicrm.info
sites/all/modules/webform_civicrm/webform_civicrm.install
sites/all/modules/webform_civicrm/webform_civicrm.module
sites/all/themes/
sites/default/civicrm.settings.php
sites/default/default.settings.php
sites/example.sites.php
sites/loveincbrevard.dd
sites/org.loveincbrevard.rptvolarms_save/
sites/sites.php
themes/
update.php
web.config
xmlrpc.php
