# Ignore Everything
/*

# Don't ignore the following files
!README.md
!sites/*/files/civicrm/extensions/org.loveincbrevard.*
!sites/*/loveincbrevard
!sites/*/files/civicrm/extensions/README.md
!sites/*/files/civicrm/extensions/org.civicrm.volunteer-4.5-1.4.0/CRM/Volunteer/Form/Log.php
!sites/all/modules/civicrm/CRM/Contact/BAO/Group.php
!sites/all/modules/civicrm/CRM/Core/BAO/CustomGroup.php
!sites/all/modules/civicrm/CRM/Dedupe/BAO/RuleGroup.php
!sites/all/modules/webform_civicrm/includes/wf_crm_webform_postprocess.inc